// App
.app {
  &-container {
    min-height: 100vh;
    background: $whiteOff; // Old browsers
    background: -moz-linear-gradient(top, $whiteOff 20%, $blueLight 100%); // FF3.6-15
    background: -webkit-linear-gradient(top, $whiteOff 20%, $blueLight 100%); // Chrome10-25,Safari5.1-6
    background: linear-gradient(to bottom, $whiteOff 20%, $blueLight 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$whiteOff', endColorstr='$blueLight',GradientType=0 ); // IE6-9
  }

  &-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-section {
    .container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 360px;
      height: 360px;
      border-radius: 180px;
      background-color: $blueDark;
      text-align: center;
      transition: background-color 0.2s ease-in-out;
      
      &--active {
        background-color: $orangeMedium;

        .title {
          color: $orangeDark;
        }

        .content {
          color: $white;
        }

        .button {
          color: $orangeMedium;
          background-color: $orangeDark;

          &:hover {
            color: $orangeLight;
            background-color: $brownDark;
          }
        }
      }
    }

    .title {
      margin: 10px 0;
      color: $blueMedium;
      font-size: 2.5em;
      transition: color 0.2s ease-in-out;
    }

    .content {
      margin: 10px 0;
      color: $blueLight;
      font-size: 6em;
      transition: color 0.2s ease-in-out;
    }

    .button {
      width: 50px;
      height: 50px;
      margin: 0 5px;
      border: none;
      border-radius: 25px;
      color: $blueDark;
      background-color: $blueMedium;
      font-weight: 900;
      line-height: 50px;
      outline: none;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        color: $blueLight;
        background-color: $blueMedDark;
        cursor: pointer;
      }

      &-container {
        margin: 10px 0;
      }
    }
  }
}