// Header

.header {
  padding: 2em 0;
  color: $orangeMedium;
  @media screen and (width >= $device-md) {
    padding: 3em 0;
  }

  &__title {
    margin: 0;
    font-size: 2.5em;

    @media screen and (width >= $device-sm) {
      font-size: 3em;
    }

    @media screen and (width >= $device-md) {
      font-size: 4em;
    }
    @media screen and (width >= $device-xl) {
      font-size: 5em;
    }
  }
}