// Colors

// Basic
$black: #000000;
$white: #FFFFFF;

// Blues
$blueLight: #A7E6EC;
$blueMedLight: #4DC9D4;
$blueMedium: #14BAC9;
$blueMedDark: #018895;
$blueDark: #01575F;

// Browns
$brownMedium: #AA7139;

// Grays
$grayMedium: #76624F;
$grayDark: #424242;

// Oranges
$orangeLight: #FFA85A;
$orangeMedLight: #FF9329;
$orangeMedium: #FF7F00;
$orangeMedDark: #DE6E00;
$orangeDark: #9C4900;


// Whites
$whiteCreme: #FFD7B4;
$whiteOff: #FBEADB;